@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@media screen and (min-width: 992px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Poppins, "Times New Roman", Times, serif;
    background-color: #e5e5e5;
    background-image:
      url("./images/header-dsk.svg"),
      url("./images/header-bg.svg");
    background-blend-mode: normal;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  header {
    width: 100%;
  }

  h1,
  h2,
  h3,
  p {
    display: flex;
  }

  .logo,
  .abt-mbl,
  .work1-pic,
  .mob-menu,
  .mob-data,
  .outer-list > li > .inner-list,
  .mbl-lang {
    display: none;
  }

  .navigation {
    flex-direction: row;
    width: 100%;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .dsk-logo {
    width: 100%;
    margin-left: 10%;
    margin-top: 15px;
  }

  .dsk-logo > a,
  .dsk-logo > a:link,
  .dsk-logo > a:visited,
  .dsk-logo > a:hover {
    text-align: left;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #6070ff;
  }

  .dsk-menu {
    margin-right: 32px;
    margin-top: 15px;
  }

  /* stylelint-disable no-descending-specificity */

  .dsk-menu > a,
  .dsk-menu > a:link,
  .dsk-menu > a:visited,
  .dsk-menu > a:hover {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    color: #344563;
  }

  .dsk-menu-c {
    margin-right: 10%;
    margin-top: 15px;
  }

  .dsk-menu-c > a,
  .dsk-menu-c > a:link,
  .dsk-menu-c > a:visited,
  .dsk-menu-c > a:hover {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    color: #344563;
  }

  .intro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30%;
  }

  .first-container {
    display: flex;
    flex-direction: column;
  }

  .hello {
    display: flex;
    flex-direction: column;
    padding: 20% 15% 0%;
  }

  .introduction {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
    color: #091e42;
    margin: 0;
  }

  .who-am-i {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    margin: 12px 0;
  }

  .connect,
  .connect:link,
  .connect:visited,
  .connect:hover {
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
  }

  .social {
    display: flex;
    list-style-type: none;
    align-items: baseline;
    padding: 0;
    margin: 14px 0 0;
  }

  .social-icon {
    padding-right: 19px;
  }

  .works {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .work {
    display: flex;
    justify-content: space-between;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
    width: 80%;
    margin-bottom: 10%;
  }

  .work1-dsk {
    width: 46%;
    margin: 2%;
  }

  .work1-dsk > img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }

  .work1-dsk-txt {
    width: 46%;
    margin: 4%;
  }

  .work-name {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    margin: 0;
  }

  .company {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .role {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .year {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .paragraph-t {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .see-project {
    margin-top: 8%;
  }

  .about {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    margin: 0;
  }

  .abt-bg {
    background-image: url("./images/abt-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 100%;
  }

  .abt-dsk {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

  .abt-txt {
    max-width: 40%;
    margin-bottom: 10%;
  }

  .about-me {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
    margin: 20% 0% 0%;
  }

  .paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-bottom: 0;
  }

  .connect-about {
    margin-top: 0;
  }

  .social-about {
    display: flex;
    list-style-type: none;
    align-items: baseline;
    padding: 0;
    margin: 14px 0 16px;
  }

  .social-icon-about {
    padding-right: 19px;
  }

  .languages {
    width: 55%;
  }

  .outer-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 20% 0% 0% 10%;
  }

  .outer-list > li {
    padding: 2% 0%;
  }

  .outer-list > li > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 5% 0%;
  }

  .sep-dsk-trace {
    height: 1px;
    background-color: #dfe1e6;
  }

  #contact {
    background-color: #6070ff;
    background-image: url("./images/contact-dsk.svg");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: 50%;
    background-position-y: 50%;
    width: 100%;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-me {
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
    margin: 15% 0% 0%;
  }

  .form-p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    width: 50%;
  }

  .contact input,
  button {
    display: block;
  }

  #name-input {
    width: 320px;
    height: 48px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #cfd8dc;
    padding: 0 15px;
    margin: 20px 0;
  }

  #name-input::placeholder {
    font-family: Poppins, "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
  }

  #small-inputs {
    width: 320px;
    height: 48px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #cfd8dc;
    padding: 0 15px;
    margin: 20px 0;
  }

  #small-inputs::placeholder {
    font-family: Poppins, "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
  }

  .message-field {
    width: 320px;
    height: 170px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #cfd8dc;
    padding: 0 15px;
    margin: 15px 0;
  }

  #big-input {
    width: 273px;
    height: 140px;
    background-color: #fff;
    border: none;
    margin: 15px 15px 38px 12px;
  }

  #big-input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #b3bac5;
  }

  .hidden-label {
    display: none;
  }

  .btn-input {
    border: 1px solid #c1c7d0;
    box-sizing: border-box;
    border-radius: 8px;
    background: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #6070ff;
    padding: 12px;
    cursor: pointer;
  }

  .btn-input a,
  a:hover,
  a:link,
  a:visited {
    text-decoration: none;
  }

  .btn-input:hover {
    background-color: #6070ff;
    color: #fff;
  }

  .btn-input:active {
    background-color: #2230d2;
    color: #fff;
  }

  .btn-input:disabled {
    background-color: #fff;
    color: #5e6c84;
  }

  .modal {
    position: fixed;
    width: 100%;
    height: 110%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0 0 0 / 50%);
    z-index: 2;
    display: none;
    overflow: auto;
  }

  .modal-content {
    background: #fff;
    margin: 5% auto;
    width: 90%;
    padding: 8px 24px;
    border-radius: 4px;
    z-index: 4;
    height: 150%;
  }

  .modal-data {
    margin-top: 20px;
  }

  .modal-data h2 {
    font-weight: bold;
  }

  .modal-content strong {
    font-weight: bold;
    font-size: 25px;
  }

  .modal-data-tonic {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
  }

  .modal-data-tonic img {
    width: 10px;
    height: 10px;
  }

  .modal-image img {
    width: 100%;
    margin-top: 25px;
  }

  .float-modal {
    float: left;
    width: 60%;
    margin-right: 50px;
  }

  .modal-close {
    position: absolute;
    right: 3%;
    top: 25px;
    width: 80px;
    height: 80px;
  }

  .hr {
    width: 100%;
    padding-bottom: 25px;
    border-bottom: gray solid 1px;
  }

  .modal-links {
    display: flex;
    justify-content: left;
    padding: 15px;
  }

  .modal-tags {
    margin: 30px 0;
  }

  .modal-tags img {
    margin-right: 10px;
  }

  .modal-links a {
    margin-right: 15px;
    margin-bottom: auto;
  }

  .modal-links button {
    display: flex;
    align-items: center;
  }

  .form-control small {
    visibility: hidden;
  }

  .form-control.error small {
    visibility: visible;
    color: red;
  }
}

@media screen and (max-width: 991px) {
  body {
    min-width: 375px;
    font-family: Poppins, "Gill Sans", Calibri, "Trebuchet MS", sans-serif;
  }

  .dsk-menu,
  .dsk-menu-c,
  .dsk-logo,
  .work1-dsk,
  .ruby-tags,
  .abt-dsk,
  .work1-dsk-txt,
  .inner-list-dsk,
  .sep-dsk-item,
  .sep-dsk-trace {
    display: none;
  }

  .intro {
    min-height: 718px;
  }

  header {
    max-width: 351px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .navigation {
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #nav.menu-open {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    background-color: #6070ffd8;
  }

  #nav.menu-open ul {
    align-self: flex-start;
  }

  #nav.menu-open ul a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
  }

  #nav.menu-open li {
    display: flex;
    color: #fff;
  }

  #nav.menu-open .mob-menu {
    display: none;
  }

  #nav.menu-open .dsk-logo {
    display: none;
  }

  #close {
    align-self: flex-end;
    margin-right: 5%;
  }

  .first-container {
    background-image: url("./images/header-shapes-mobile.svg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding-top: 50px;
  }

  .logo {
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    line-height: 20px;
    align-self: flex-start;
    text-align: center;
    text-decoration: none;
    color: #6070ff;
    margin-top: 30px;
  }

  h1 {
    margin-bottom: 12px;
    margin-left: 24px;
    margin-right: 24px;
    font-weight: bold;
  }

  .introduction {
    position: static;
    width: 300px;
    height: 150px;
    left: 24px;
    top: 114px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
    flex: none;
  }

  .who-am-i {
    position: static;
    width: 327px;
    left: 24px;
    top: 276px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    margin-inline-start: 24px;
  }

  .connect {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #7f8cff;
    flex: none;
    margin-left: 24px;
  }

  .social {
    display: flex;
    align-content: flex-start;
    padding-left: 0;
    margin-left: 24px;
  }

  ul li.social-icon {
    display: inline-block;
    margin-right: 17px;
  }

  .works {
    display: grid;
    row-gap: 20px;
    padding: 114px 24px;
    position: absolute;
    width: 375px;
    height: 2788px;
    left: 0;
    top: 718px;
  }

  .work {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    position: static;
    width: 327px;
    height: 552px;
    left: calc(50% - 327px / 2);
    top: 114px;
    background: #fff;
    border: 1px solid #dfe1e6;
    box-sizing: border-box;
    border-radius: 16px;
    flex: none;
    margin: 88px 0;
  }

  .work1-pic {
    position: static;
    width: 295px;
    height: 220px;
    left: 16px;
    top: 16px;
    border-radius: 8px;
    flex: none;
    margin: 12px 0;
  }

  .work-name {
    position: static;
    width: 295px;
    height: auto;
    left: 0;
    top: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #172b4d;
    flex: none;
    margin: 0;
  }

  .work-data-tonic {
    margin: 5px 0 0;
  }

  .work-data-multi {
    margin: 0;
  }

  .company {
    position: static;
    width: 55px;
    height: 16px;
    left: 0;
    top: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
    flex: none;
    margin: 0;
    margin-right: 8px;
  }

  .role {
    position: static;
    width: 88px;
    height: 16px;
    left: 8px;
    top: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
    flex: none;
    margin: 0 12px;
  }

  .year {
    position: static;
    width: 29px;
    height: 16px;
    left: 0;
    top: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
    flex: none;
    margin: 0 10px 0 14px;
  }

  .paragraph-t {
    position: static;
    width: 295px;
    height: auto;
    left: 0;
    top: 92px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
    flex: none;
    margin: 5px 0;
  }

  .paragraph-m {
    position: static;
    width: 295px;
    height: auto;
    left: 0;
    top: 92px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
    flex: none;
    margin: 0;
  }

  .tags {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    flex: none;
    margin: 8px 0;
  }

  .work-tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
    flex: none;
    margin: 0 8px 0 0;
  }

  .see-project {
    padding: 10px 0;
  }

  .about {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 375px;
    height: 1263px;
    left: 24px;
    top: 3769px;
  }

  .about-me {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .connect-about {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #7f8cff;
    flex: none;
    margin-left: 0;
  }

  .social-about {
    display: flex;
    align-content: flex-start;
    padding-inline-start: 0;
    margin-inline-start: 0;
  }

  ul li.social-icon-about {
    display: inline-block;
    margin-right: 17px;
  }

  ul > li {
    display: block;
    padding-bottom: 15px;
  }

  ul > li > ul > li {
    display: block;
    padding-bottom: 0;
  }

  .outer-list {
    padding-left: 5px;
    font-weight: bolder;
  }

  .inner-list {
    padding-left: 0;
    font-weight: bolder;
  }

  .contact {
    font-family: Poppins, "Times New Roman", Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6070ff;
    background-image: url("./images/contact-bg.svg");
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    width: 375px;
    height: 730px;
    left: 0;
    top: 4710px;
  }

  .contact-me {
    padding-top: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
    margin: 0;
  }

  .form-p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #ebebff;
    text-align: center;
    padding: 5px 24px;
  }

  .contact input,
  button {
    display: block;
  }

  #name-input {
    width: 320px;
    height: 48px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #cfd8dc;
    padding: 0 15px;
    margin: 20px 0;
  }

  #name-input::placeholder {
    font-family: Poppins, "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
  }

  #small-inputs {
    width: 320px;
    height: 48px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #cfd8dc;
    padding: 0 15px;
    margin: 20px 0;
  }

  #small-inputs::placeholder {
    font-family: Poppins, "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
  }

  .message-field {
    width: 320px;
    height: 170px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #cfd8dc;
    padding: 0 15px;
    margin: 15px 0;
  }

  #big-input {
    width: 273px;
    height: 140px;
    background-color: #fff;
    border: none;
    margin: 15px 15px 38px 12px;
  }

  #big-input::placeholder {
    font-family: Poppins, "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #b3bac5;
  }

  .hidden-label {
    display: none;
  }

  .btn-input {
    border: 1px solid #c1c7d0;
    box-sizing: border-box;
    border-radius: 8px;
    background: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #6070ff;
    padding: 12px;
    cursor: pointer;
  }

  .btn-input a,
  a:hover,
  a:link,
  a:visited {
    text-decoration: none;
  }

  .btn-input:hover {
    background-color: #6070ff;
    color: #fff;
  }

  .btn-input:active {
    background-color: #2230d2;
    color: #fff;
  }

  .btn-input:disabled {
    background-color: #fff;
    color: #5e6c84;
  }

  .modal {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0 0 0 / 50%);
    z-index: 2;
    display: none;
    overflow: auto;
  }

  .modal-content {
    background: #fff;
    margin: 5%;
    width: 90%;
    height: auto;
    padding: 1% 3%;
    border-radius: 4px;
    z-index: 4;
  }

  .modal-data {
    margin-top: 20px;
  }

  .modal-data h2 {
    font-weight: bold;
  }

  .modal-content strong {
    font-weight: bold;
    font-size: 20px;
  }

  .modal-data-tonic {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
  }

  .modal-data-tonic img {
    width: 10px;
    height: 10px;
  }

  .modal-image img {
    width: 92%;
  }

  .modal-close {
    position: absolute;
    right: 0;
    top: 3%;
    width: 50px;
    height: 50px;
  }

  .hr {
    width: 100%;
    padding-bottom: 25px;
    border-bottom: gray solid 1px;
  }

  .modal-links {
    display: flex;
    justify-content: space-between;
    padding: 2%;
  }

  .modal-tags img {
    margin-right: 10px;
  }

  .modal-links button {
    display: flex;
    align-items: center;
  }

  .form-control small {
    visibility: hidden;
  }

  .form-control.error small {
    visibility: visible;
    color: red;
  }
}
