@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Poppins, "Gill Sans", Calibri;
}
